body {
  font-size: 6em;
  text-align: center;
}

.count {
  color: #888;  /* 薄いグレー */
  margin: 0;
  font-weight: bold;
}

.wrap {
  margin: 20px auto auto auto;
  padding: 80px 40px 80px 40px;
  background-color: #666; /* 濃いグレー */
  font-weight: bold;
  color: #fff;
}

.typed {
  color: lightgreen;
}

.mistyped {
  color: red;
}